<!-----------------Get all recipes and search------------------>

<!-- <input type="text" [(ngModel)]="searchquery">

<button type="button" (click)="getRecipe()">Get recipe</button><br>


<article *ngFor="let recipe of allRecipes">
  <h2><a [routerLink]="['/one-recipe/', recipe.idref]" routerLinkActive="active" >{{recipe.label }}</a></h2>
  <img [src]="recipe.image" [alt]="recipe.label">
  <p>Here are the ingredients of the meal:</p>
  <ul>
    <li *ngFor="let ingredient of recipe.ingredientLines">
      {{ingredient}}
    </li>
  </ul>
</article>
 -->

 <!-----------------------Filter buttons---------------------->

