
<section class="max-w-4xl p-6 my-6 scroll-mt-16">
    <h1 class="text-4xl sm:text-5xl text-amber-500 font-bold text-center my-4">{{ title }}</h1>
    <form class= "w-full md:w-1/2 mx-auto text-xl md:text-md flex flex-col items-left gap-4" action="post">
      <label for="email" class="font-semibold text-neutral-500">Email:</label>
      <input [(ngModel)]="user.email" type="email" placeholder="enter email" name="email" id="userEmail" class="border-solid border-2 border-amber-500 rounded-xl text-lg sm:text-2xl w-full p-3">

      <label for="password" class="font-semibold text-neutral-500">Password:</label>
      <input [(ngModel)]="user.password" type="password" placeholder="enter password" name="password" id="userPassword" class="border-solid border-2 border-amber-500 rounded-xl text-lg sm:text-2xl w-full p-3 mb-4">
      <button class="self-end bg-neutral-500 hover:opacity-80 text-white font-semibold p-3 rounded-full w-48" type="button" (click)="login()">Login</button>
    </form>
</section>
